<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col text-center">
            <img height="300px" src="https://www.qrcardboard.com/images/cart.gif?v=01" alt="Empty cart">
            <h3>Your cart is empty</h3>
            <button routerLink="" class="btn btn-primary mt-2">Shop more</button>
        </div>
    </div>
</div>

<div class="container-fluid my-5 pt-5">
 <div class="row mx-4">
        <div class="col-lg-7 border rounded py-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product Image</th>
                        <th>Quandity</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th><img width="100px" height="100px" src="https://cdn-images.farfetch-contents.com/16/67/98/25/16679825_36070196_300.jpg" alt="product image"></th>
                        <th><input type="text" name="" class="form-control" value="1" style="width: 3rem;"></th>
                        <th>3000</th>
                        <th><a class="btn text-danger"><i class="fa fa-trash-can"></i></a></th>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end mt-4">
                <button class="btn btn-outline-danger mx-4">Empty cart</button>
                <button routerLink="" class="btn btn-outline-primary mx-4">Shop more</button>
               </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4 border rounded py-3 h-25">
          Discount : 
          <div class="text-center"> <h4>Total cost : <strong class="text-primary text-center">3000</strong></h4> </div>
          <hr>
           
           <div class="d-flex justify-content-between mt-5">
            <a class="nav-link text-primary"> <i class="fa-solid fa-tag"></i> offers</a>
            <button class="btn btn-success">Checkout</button>
           </div>
        </div>
 </div>
</div>